/Servidor/nbproject/private/
/Servidor/build/
/Cliente/build/
/AulaReplicacaoActiva/Servidor/build/
/AulaReplicacaoActiva/Cliente/build/
/AulaReplicacaoActiva/Cliente/nbproject/private/
/AulaReplicacaoActiva/Servidor/nbproject/private/